.todo-app {
    display: flex;
    flex-direction: column;
    margin: 130px auto 0px;
    text-align: center;
  }

  .todo-app__title {
      font-size: 100px;
      font-weight: 100;
      text-align: center;
      color: rgba(175, 47, 47, 0.15);
      margin-bottom: 55px;
  }

